.admin-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.user-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.user-list li {
  background-color: #253341;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.submit-button {
  margin-top: 20px;
  margin-right: 10px;
}